In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"A:\THENMOZHI\100data_set\house_price_regression\kc_house_data.csv")

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(14)
memory usage: 3.3 MB

In [12]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'year', 'month', 'day'],
      dtype='object')

In [6]:
df.drop("id",axis=1,inplace=True)

In [8]:
df["date"]=pd.to_datetime(df["date"],format="%Y%m%dT%H%M%S")

In [10]:
df["year"]=df["date"].dt.year
df["month"]=df["date"].dt.month
df["day"]=df["date"].dt.day

In [11]:
df.drop("date",axis=1,inplace=True)

In [13]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,...,1955,0,98178,47.5112,-122.257,1340,5650,2014,10,13
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,...,1951,1991,98125,47.7210,-122.319,1690,7639,2014,12,9
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,...,1933,0,98028,47.7379,-122.233,2720,8062,2015,2,25
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,...,1965,0,98136,47.5208,-122.393,1360,5000,2014,12,9
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,...,1987,0,98074,47.6168,-122.045,1800,7503,2015,2,18

In [14]:
from sklearn.preprocessing import LabelEncoder


encoded_col=["view","zipcode"]
for i in encoded_col:
    label=LabelEncoder()
    df[i]=label.fit_transform(df[i])

In [ ]:
continuous=[]
category=[]

for i in df.columns:
    if df[i].nunique()<30:
        category.append(i)
    else:
        continuous.append(i)
print(continuous)
print(category)

['price', 'bathrooms', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'day']
['bedrooms', 'floors', 'waterfront', 'view', 'condition', 'grade', 'year', 'month']

In [20]:
df.bathrooms.unique()

array([1.  , 2.25, 3.  , 2.  , 4.5 , 1.5 , 2.5 , 1.75, 2.75, 3.25, 4.  ,
       3.5 , 0.75, 4.75, 5.  , 4.25, 3.75, 0.  , 1.25, 5.25, 6.  , 0.5 ,
       5.5 , 6.75, 5.75, 8.  , 7.5 , 7.75, 6.25, 6.5 ])

In [21]:
df.corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day
price,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,0.667434,...,0.054012,0.126434,-0.050889,0.307003,0.021626,0.585379,0.082447,0.003576,-0.010081,-0.014670
bedrooms,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,0.356967,...,0.154178,0.018841,-0.152008,-0.008931,0.129473,0.391638,0.029244,-0.009838,-0.001533,-0.008031
bathrooms,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,0.664983,...,0.506019,0.050739,-0.192873,0.024573,0.223042,0.568634,0.087175,-0.026596,0.007392,-0.005304
sqft_living,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,0.762704,...,0.318049,0.055363,-0.192005,0.052529,0.240223,0.756420,0.183286,-0.029038,0.011810,-0.007246
sqft_lot,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,0.113621,...,0.053080,0.007644,-0.125899,-0.085683,0.229521,0.144608,0.718557,0.005468,-0.002369,0.000634
floors,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,0.458183,...,0.489319,0.006338,-0.038788,0.049614,0.125419,0.279885,-0.011269,-0.022315,0.014005,-0.006662
waterfront,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,0.082775,...,-0.026161,0.092885,0.029122,-0.014274,-0.041910,0.086463,0.030703,-0.004165,0.008132,0.010518
view,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,0.251321,...,-0.053440,0.103917,0.071363,0.006157,-0.078400,0.280439,0.072575,0.001364,-0.005638,0.011174
condition,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,-0.144674,...,-0.361417,-0.060618,-0.006316,-0.014941,-0.106500,-0.092824,-0.003406,-0.045589,0.021978,-0.004643
grade,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,1.000000,...,0.446963,0.014414,-0.175018,0.114084,0.198372,0.713202,0.119248,-0.030387,0.008376,-0.012483
sqft_above,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,0.755923,...,0.423898,0.023285,-0.244073,-0.000816,0.343803,0.731870,0.194050,-0.023823,0.009872,-0.002475
sqft_basement,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,0.168392,...,-0.133124,0.071323,0.058224,0.110538,-0.144765,0.200355,0.017276,-0.015687,0.006035,-0.010405
yr_built,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,0.446963,...,1.000000,-0.224874,-0.327304,-0.148122,0.409356,0.326229,0.070958,0.003507,-0.006226,-0.005766
yr_renovated,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,0.014414,...,-0.224874,1.000000,0.061435,0.029398,-0.068372,-0.002673,0.007854,-0.023707,0.012827,0.008127
zipcode,-0.050889,-0.152008,-0.192873,-0.192005,-0.125899,-0.038788,0.029122,0.071363,-0.006316,-0.175018,...,-0.327304,0.061435,1.000000,0.300194,-0.517161,-0.266668,-0.144980,0.001234,-0.000676,-0.006182
lat,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,-0.014941,0.114084,...,-0.148122,0.029398,0.300194,1.000000,-0.135512,0.048858,-0.086419,-0.029212,0.014961,-0.015655
long,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,-0.106500,0.198372,...,0.409356,-0.068372,-0.517161,-0.135512,1.000000,0.334605,0.254451,0.000270,-0.008134,-0.007331
sqft_living15,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,0.713202,...,0.326229,-0.002673,-0.266668,0.048858,0.334605,1.000000,0.183192,-0.021734,0.002449,-0.008539
sqft_lot15,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,0.119248,...,0.070958,0.007854,-0.144980,-0.086419,0.254451,0.183192,1.000000,-0.000085,0.003546,-0.002871
year,0.003576,-0.009838,-0.026596,-0.029038,0.005468,-0.022315,-0.004165,0.001364,-0.045589,-0.030387,...,0.003507,-0.023707,0.001234,-0.029212,0.000270,-0.021734,-0.000085,1.000000,-0.782389,-0.006103
month,-0.010081,-0.001533,0.007392,0.011810,-0.002369,0.014005,0.008132,-0.005638,0.021978,0.008376,...,-0.006226,0.012827,-0.000676,0.014961,-0.008134,0.002449,0.003546,-0.782389,1.000000,-0.060664
day,-0.014670,-0.008031,-0.005304,-0.007246,0.000634,-0.006662,0.010518,0.011174,-0.004643,-0.012483,...,-0.005766,0.008127,-0.006182,-0.015655,-0.007331,-0.008539,-0.002871,-0.006103,-0.060664,1.000000

In [17]:
#skew and krutosis

In [22]:
from scipy.stats import boxcox,kurtosis,skew

for i in continuous:
    print(i)
    print(df[i].skew() , df[i].kurtosis())
apply=[]


for i in continuous:
    if df[i].skew() <-0.7 or df[i].skew() >0.7 or df[i].kurtosis() >1 or df[i].kurtosis() <-1:
        apply.append(i)
print(apply)

price
4.024069144684712 34.58554043194243
bathrooms
0.5111075733474171 1.2799024441754554
sqft_living
1.471555426802092 5.24309298981711
sqft_lot
13.060018959031755 285.0778196973658
sqft_above
1.4466644733818372 3.40230362139787
sqft_basement
1.5779650555996247 2.7155742114129353
yr_built
-0.46980539881436767 -0.657407504733527
yr_renovated
4.549493366993928 18.701152117599058
zipcode
-0.05513127097842581 -1.077876030123957
lat
-0.4852704765380854 -0.6763130016065348
long
0.8850529834328096 1.0495008872914617
sqft_living15
1.1081812758966967 1.5970958104616884
sqft_lot15
9.506743246764398 150.76311004626973
day
-0.005677530619832259 -1.1958990250947052
['price', 'bathrooms', 'sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'long', 'sqft_living15', 'sqft_lot15', 'day']

In [23]:
boxcox_cols = [
    'price', 'bathrooms', 'sqft_living', 'sqft_lot',
    'sqft_above', 'long', 'sqft_living15', 'sqft_lot15'
]

method=[0.5,-0.5,-1,1,2,-2]

for i in boxcox_cols:
    print(i)
    print("---------------")
    for j in method:
        print(j,end="\t")
        print("skew",pd.DataFrame(boxcox(df[i],lmbda=j)).skew().values,end="\t")
        print("kurtosis",pd.DataFrame(boxcox(df[i],lmbda=j)).kurtosis().values)

price
---------------
0.5	skew [1.6563918]	kurtosis [5.83135238]
-0.5	skew [-0.4904178]	kurtosis [0.78538636]
-1	skew [-1.50444812]	kurtosis [4.92406796]
1	skew [4.02406914]	kurtosis [34.58554043]
2	skew [21.0717322]	kurtosis [789.34442021]
-2	skew [0.]	kurtosis [0.]
bathrooms
---------------
0.5	skew [-0.11919722]	kurtosis [0.13438383]
-0.5	skew [nan]	kurtosis [nan]
-1	skew [nan]	kurtosis [nan]
1	skew [0.51110757]	kurtosis [1.27990244]
2	skew [2.55939735]	kurtosis [18.39930391]
-2	skew [nan]	kurtosis [nan]
sqft_living
---------------
0.5	skew [0.61778899]	kurtosis [0.86211756]
-0.5	skew [-0.66555423]	kurtosis [0.7019364]
-1	skew [-1.41753266]	kurtosis [3.9697079]
1	skew [1.47155543]	kurtosis [5.24309299]
2	skew [6.05311489]	kurtosis [104.50300602]
-2	skew [0.]	kurtosis [57.39389361]
sqft_lot
---------------
0.5	skew [4.78339735]	kurtosis [34.78238389]
-0.5	skew [-1.5258744]	kurtosis [4.0750563]
-1	skew [-3.27959859]	kurtosis [13.17638209]
1	skew [13.06001896]	kurtosis [285.0778197]
2	skew [51.43369059]	kurtosis [3701.49453298]
-2	skew [0.]	kurtosis [51.99891153]
sqft_above
---------------
0.5	skew [0.79209025]	kurtosis [0.5724154]
-0.5	skew [-0.27525107]	kurtosis [-0.06883231]
-1	skew [-0.89274764]	kurtosis [1.81650308]
1	skew [1.44666447]	kurtosis [3.40230362]
2	skew [4.02000098]	kurtosis [36.09686636]
-2	skew [0.]	kurtosis [33.21564261]
long
---------------
0.5	skew [nan]	kurtosis [nan]
-0.5	skew [nan]	kurtosis [nan]
-1	skew [nan]	kurtosis [nan]
1	skew [nan]	kurtosis [nan]
2	skew [nan]	kurtosis [nan]
-2	skew [nan]	kurtosis [nan]
sqft_living15
---------------
0.5	skew [0.64051726]	kurtosis [0.2956902]
-0.5	skew [-0.23475477]	kurtosis [0.04837115]
-1	skew [-0.74899991]	kurtosis [1.69188712]
1	skew [1.10818128]	kurtosis [1.59709581]
2	skew [2.30142814]	kurtosis [8.56818354]
-2	skew [0.]	kurtosis [34.5701552]
sqft_lot15
---------------
0.5	skew [4.28863648]	kurtosis [26.34156076]
-0.5	skew [-1.42426903]	kurtosis [3.89675243]
-1	skew [-3.10014564]	kurtosis [11.75515124]
1	skew [9.50674325]	kurtosis [150.76311005]
2	skew [46.96698241]	kurtosis [3275.91563843]
-2	skew [0.]	kurtosis [44.04905253]

c:\Users\dharm\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\nanops.py:1256: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
c:\Users\dharm\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\nanops.py:1344: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean

In [24]:
df["price"]=boxcox(df["price"],lmbda=-0.5)
df["sqft_living"]=boxcox(df["sqft_living"],lmbda=0.5)
df["bathrooms"]=boxcox(df["bathrooms"],lmbda=0.5)
df["sqft_lot"]=boxcox(df["sqft_lot"],lmbda=0)

In [25]:
#ML regression traning

In [27]:
x=df.drop("price",axis=1)
y=df["price"]

In [28]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [29]:
#Scalling
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
x_train_scale=scaler.fit_transform(x_train)
x_test_scale=scaler.transform(x_test)

In [30]:
import numpy as np

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error


model=LinearRegression()

model.fit(x_train_scale,y_train)
y_predict=model.predict(x_test_scale)
print("R2 Score:", r2_score(y_test, y_predict))
print("MAE:", mean_absolute_error(y_test, y_predict))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_predict)))

R2 Score: 0.7398577403634402
MAE: 0.000293080793925721
RMSE: 0.0003895120710813724

In [32]:
from sklearn.ensemble import RandomForestRegressor

model=RandomForestRegressor()
model.fit(x_train_scale,y_train)
y_predict=model.predict(x_test_scale)

print("R2 Score:", r2_score(y_test, y_predict))
print("MAE:", mean_absolute_error(y_test, y_predict))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_predict)))

R2 Score: 0.8581297466748153
MAE: 0.00018970619545047158
RMSE: 0.0002876478545122725

In [33]:
from sklearn.ensemble import GradientBoostingRegressor

model=GradientBoostingRegressor()
model.fit(x_train_scale,y_train)
y_predict=model.predict(x_test_scale)

print("R2 Score:", r2_score(y_test, y_predict))
print("MAE:", mean_absolute_error(y_test, y_predict))
print("RMSE:", np.sqrt(mean_squared_error(y_test, y_predict)))

R2 Score: 0.8525771525866713
MAE: 0.00020355627461694762
RMSE: 0.00029322288644317537

In [34]:
import pickle 

with open("model.pkl","wb") as f:
    pickle.dump(model,f)

with open("scaler.pkl","wb") as f:
    pickle.dump(scaler,f)

In [35]:
print(x_train.columns.tolist())

['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15', 'year', 'month', 'day']